<header id="header">

	<center><div class="content" style="max-width: 700px">

	 <center><img style="margin-top: 5%; width: 80%;" src="../assets/img/brashcitylogofive.jpg"></center>

	 <div style="margin-bottom: 2%; margin-top: 3%;">

	<a href="http://youtube.com/brashcity" target="_blank"><img style="width: 11%;" src="../assets/img/youtubewhite.svg"></a>
	<a href="http://twitch.tv/brashcity" target="_blank"><img style="margin-left: 5%;width: 11%;" src="../assets/img/twitch.svg"></a>
	<a href="http://facebook.com/brashcity" target="_blank"><img style="margin-left: 5%;width: 11%;" src="../assets/img/facebookwhite.svg"></a>
	<a href="http://twitter.com/brashcity" target="_blank"><img style="margin-left: 5%;width: 11%;" src="../assets/img/twitterwhite.svg"></a>
	<a href="http://instagram.com/brashcity" target="_blank"><img style="margin-left: 5%;width: 11%;" src="../assets/img/instagramwhite.svg"></a>

	</div>

	<center><img style="margin-top: 3%; width: 80%;" src="../assets/img/pleaseshare14.jpg"></center>

	<div class="sharebuttons" style="margin-bottom: 5%">

	<a href="http://youtube.com/brashcity" target="_blank"><img style="width: 15%;" src="../assets/img/cartoonfb.svg"></a>

	<a href="http://twitter.com/brashcity" target="_blank"><img style="margin-left: 5%;width: 15%;" src="../assets/img/cartoontwitter.svg"></a>

	</div>


	<center>
		<iframe width="90%" height="370" src="https://www.youtube.com/embed/z3rH6PjCP-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</center>

	</div></center>




 </header>
