<header id="header">

	<center><div class="content">

	 	<center><img class="toplogo" src="../assets/img/brashcitylogo19.jpg"></center>


		<div class="video-responsive">
			<center>
				<iframe width="420" height="300" src="https://www.youtube.com/embed/z3rH6PjCP-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</center>
		</div>

		<center><img class="pleaseshare" src="../assets/img/pleaseshare.png"></center>
		<center><img class="pleaseshare" src="../assets/img/DirectRelief.png"></center>

		<div class="sharesocialicons">

			<a href="http://youtube.com/brashcity" target="_blank"><img class="sharesocialiconfirst" src="../assets/img/cartoonfb.svg"></a>

			<a href="http://twitter.com/brashcity" target="_blank"><img class="sharesocialicon" src="../assets/img/cartoontwitter.svg"></a>

		</div>

		<div class="socialicons">

			<a href="http://youtube.com/brashcity" target="_blank"><img class="socialiconfirst" src="../assets/img/youtubewhite.svg"></a>
			<a href="http://twitch.tv/brashcity" target="_blank"><img class="socialicon" src="../assets/img/twitch.svg"></a>
			<a href="http://facebook.com/brashcity" target="_blank"><img class="socialicon" src="../assets/img/facebookwhite.svg"></a>
			<a href="http://twitter.com/brashcity" target="_blank"><img class="socialicon" src="../assets/img/twitterwhite.svg"></a>
			<a href="http://instagram.com/brashcity" target="_blank"><img class="socialicon" src="../assets/img/instagramwhite.svg"></a>

		 </div>

	</div></center>




 </header>
